<section class="gallery-area">
  <div class="container">
    <div class="row align-items-center">
      <!-- Première rangée -->
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="single-gallery">
          <div class="overlay"></div>
          <figure>
            <img
              src="/assets/images/image1.jpg"
              class="img-fluid w-100"
              alt="Image de la galerie 1"
            />
          </figure>
          <div class="icon">
            <a
              href="/assets/images/image1.jpg"
              class="photo-gallery-pop-up"
            >
              <span class="lnr lnr-cross"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="single-gallery">
          <div class="overlay"></div>
          <figure>
            <img
              src="/assets/images/Image4.jpg"
              class="img-fluid w-100"
              alt="Image de la galerie 2"
            />
          </figure>
          <div class="icon">
            <a
              href="/assets/images/Image4.jpg"
              class="photo-gallery-pop-up"
            >
              <span class="lnr lnr-cross"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="single-gallery">
          <div class="overlay"></div>
          <figure>
            <img
              src="/assets/images/image3.jpg"
              class="img-fluid w-100"
              alt="Image de la galerie 3"
            />
          </figure>
          <div class="icon">
            <a
              href="/assets/images/image3.jpg"
              class="photo-gallery-pop-up"
            >
              <span class="lnr lnr-cross"></span>
            </a>
          </div>
        </div>
      </div>

      <!-- Deuxième rangée -->
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="single-gallery">
          <div class="overlay"></div>
          <figure>
            <img
              src="/assets/images/Image4.jpg"
              class="img-fluid w-100"
              alt="Image de la galerie 4"
            />
          </figure>
          <div class="icon">
            <a
              href="/assets/images/Image4.jpg"
              class="photo-gallery-pop-up"
            >
              <span class="lnr lnr-cross"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="single-gallery">
          <div class="overlay"></div>
          <figure>
            <img
              src="/assets/images/Image5.jpg"
              class="img-fluid w-100"
              alt="Image de la galerie 5"
            />
          </figure>
          <div class="icon">
            <a
              href="/assets/images/Image5.jpg"
              class="photo-gallery-pop-up"
            >
              <span class="lnr lnr-cross"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="single-gallery">
          <div class="overlay"></div>
          <figure>
            <img
              src="/assets/images/Image6.jpg"
              class="img-fluid w-100"
              alt="Image de la galerie 6"
            />
          </figure>
          <div class="icon">
            <a
              href="/assets/images/Image6.jpg"
              class="photo-gallery-pop-up"
            >
              <span class="lnr lnr-cross"></span>
            </a>
          </div>
        </div>
      </div>

      <!-- Troisième rangée -->
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="single-gallery">
          <div class="overlay"></div>
          <figure>
            <img
              src="/assets/images/Image7.jpg"
              class="img-fluid w-100"
              alt="Image de la galerie 7"
            />
          </figure>
          <div class="icon">
            <a
              href="/assets/images/Image7.jpg"
              class="photo-gallery-pop-up"
            >
              <span class="lnr lnr-cross"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="single-gallery">
          <div class="overlay"></div>
          <figure>
            <img
              src="/assets/images/Image8.jpg"
              class="img-fluid w-100"
              alt="Image de la galerie 8"
            />
          </figure>
          <div class="icon">
            <a
              href="/assets/images/Image8.jpg"
              class="photo-gallery-pop-up"
            >
              <span class="lnr lnr-cross"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="single-gallery">
          <div class="overlay"></div>
          <figure>
            <img
              src="/assets/images/Image9.jpg"
              class="img-fluid w-100"
              alt="Image de la galerie 9"
            />
          </figure>
          <div class="icon">
            <a
              href="/assets/images/Image9.jpg"
              class="photo-gallery-pop-up"
            >
              <span class="lnr lnr-cross"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
