  <!--================ Start Footer Area =================-->
  <footer class="footer-area section-gap" style="background-color: black;">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h4>Liens Rapides</h4>
            <ul>
              <li>
                <a
                  routerLink="/"
                  >Accueil</a
                >
              </li>
              <li>
                <a
                  routerLink="/menu"
                  >Menu</a
                >
              </li>
              <li>
                <a
                  routerLink="/apropos"
                  >A propos</a
                >
              </li>
              <li>
                <a
                  routerLink="/reservation"
                  >Réservation</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h4>Fonctionnalités</h4>
            <ul>
              <li>
                <a
                  routerLink="/reservation"
                  >Réserver une table</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h4>Ressources</h4>
            <ul>
              <li>
                <a
                  routerLink="/galerie"
                  >Gallerie photos</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h4>Newsletter</h4>
            <p>Restez informé de nos nouveautés</p>
            <div class="" id="mc_embed_signup">
              <form
                target="_blank"
                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                method="get"
                novalidate="true"
              >
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    name="EMAIL"
                    placeholder="Entrez votre adresse email"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Entrez votre adresse email'"
                    required=""
                  />
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                      <span class="lnr lnr-arrow-right"></span>
                    </button>
                  </div>
                  <div class="info"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div
        class="footer-bottom row align-items-center justify-content-between"
      >
        <p class="footer-text m-0 col-lg-6 col-md-12">
          Copyright © 2025 Tous droits réservés |Rbkings
        </p>
        <div class="col-lg-6 col-sm-12 footer-social">
          <a href=""
            ><i class="fa fa-whatsapp"></i
          ></a>
          <a href="https://www.tiktok.com/@r.bkings?_t=ZS-8ws2T2FFBMQ&_r=1"
            ><i class="fa fa-tiktok"></i
          ></a>
          <a href="https://www.instagram.com/r.b_kings?igsh=NmZ1OXRmb284MXJn"
            ><i class="fa fa-instagram"></i
          ></a>
        </div>
      </div>
    </div>
  </footer>
  <!--================ End Footer Area =================-->
