<!--================ Start banner Area =================-->
<section class="home-banner-area relative" style="background-image: url('/assets/images/header-bg.png'); background-size: cover; background-position: center; min-height: 250px;">
  <div class="container">
    <div class="row justify-content-center align-items-center" style="min-height: 250px;">
      <h1 style="color: #ad9966;">RESERVATION</h1>
    </div>
  </div>
</section>
<!--================ End banner Area =================-->

<section class="reservation-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 col-md-6">
        <form
          class="booking-form"
          id="myForm"
          action=""
        >
          <div class="row">
            <div class="col-lg-12 d-flex flex-column mb-20">
              <input
                name="event-name"
                placeholder="Nom de l'événement"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Nom de l\'événement'"
                class="form-control"
                required=""
                type="text"
              />
            </div>

            <div class="input-group col-lg-6 mb-20">
              <input
                id="event_date"
                class="form-control datepicker"
                placeholder="Date de l'événement"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Date de l\'événement'"
                required=""
                type="text"
              />
              <span class="input-group-append">
                <button
                  class="btn btn-outline-secondary border-left-0 border-0"
                  type="button"
                >
                  <i class="fa fa-calendar reservation-calendar"></i>
                </button>
              </span>
            </div>

            <div class="col-lg-6 d-flex flex-column mb-20">
              <div class="nice-select app-select form-control" tabindex="0">
                <span class="current">Heure de l'événement</span>
                <ul class="list">
                  <li
                    data-value="Project you want to donate"
                    data-display="Project you want to donate"
                    class="option selected"
                  >
                    Préférences de repas
                  </li>
                  <li data-value="1" class="option">17h</li>
                  <li data-value="2" class="option">20h</li>
                  <li data-value="3" class="option">21h</li>
                </ul>
              </div>
            </div>

            <div class="col-lg-6 d-flex flex-column mb-20">
              <div class="nice-select app-select form-control" tabindex="0">
                <span class="current">Nombre de personnes</span>
                <ul class="list">
                  <li
                    data-value="Project you want to donate"
                    data-display="Project you want to donate"
                    class="option selected"
                  >
                    Nombre de personnes
                  </li>
                  <li data-value="1" class="option">1 personne</li>
                  <li data-value="2" class="option">2 personnes</li>
                  <li data-value="3" class="option">3 personnes</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 d-flex flex-column mb-20">
              <input
                name="budget"
                placeholder="Budget"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Budget'"
                class="form-control"
                required=""
                type="text"
              />
            </div>
            <div class="col-lg-12 d-flex flex-column mb-20">
              <input
                name="contact-name"
                placeholder="Nom du contact"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Nom du contact'"
                class="form-control"
                required=""
                type="text"
              />
            </div>
            <div class="col-lg-12 d-flex flex-column mb-20">
              <input
                name="email-address"
                placeholder="Adresse email"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Adresse email'"
                class="form-control"
                required=""
                type="email"
              />
            </div>
            <div class="col-lg-12 d-flex flex-column mb-20">
              <input
                name="phone-number"
                placeholder="Numéro de téléphone"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Numéro de téléphone'"
                class="form-control"
                required=""
                type="text"
              />
            </div>
            <div class="col-lg-12 d-flex flex-column">
              <textarea
                class="form-control"
                name="post-message"
                placeholder="Poster un message"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Poster un message'"
                required=""
              ></textarea>
            </div>

            <div class="col-lg-12 d-flex justify-content-end">
              <button class="primary-btn dark mt-30 text-uppercase">
                Envoyer la demande
              </button>
            </div>
            <div class="alert-msg"></div>
          </div>
        </form>
      </div>
      <div class="offset-lg-1 col-lg-4 col-md-6">
        <div class="section-title relative">
          <h1>
            Réserver une <br />
            Table ou un <br />
            Salon pour un <br />
            dîner <br />
            privé
          </h1>
          <p>
            Que ce soit pour un dîner intime en tête-à-tête, un repas d'affaires confidentiel ou une célébration spéciale, nos espaces privés offrent le cadre parfait.
            Réservez dès maintenant pour garantir votre expérience exclusive et personnalisée.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
