<!--================ Menu Area =================-->
<section class="menu-area" id="menu_area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-5">
        <div class="section-title relative">
          <h1>
            Plats du Jour <br />
            et Boissons
          </h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
      <div class="col-lg-7 col-md-7">
        <div class="menu-list">
          <div class="single-menu">
            <h3>Entrées</h3>
            <ul class="list">
              <li>
                <p class="menu-item">
                  Sandwiches Jambon &amp; Pommes de Terre ...........
                  <span>$25.00</span>
                </p>
                <p>(Baguette, jambon cuit, salade de pommes de terre)</p>
              </li>
              <li>
                <p class="menu-item">
                  Sandwiches Jambon &amp; Pommes de Terre ...........
                  <span>$25.00</span>
                </p>
                <p>(Baguette, jambon cuit, salade de pommes de terre)</p>
              </li>
            </ul>
          </div>

          <div class="single-menu">
            <h3>Plats Principaux</h3>
            <ul class="list">
              <li>
                <p class="menu-item">
                  Sandwiches Jambon &amp; Pommes de Terre ...........
                  <span>$25.00</span>
                </p>
                <p>(Baguette, jambon cuit, salade de pommes de terre)</p>
              </li>
              <li>
                <p class="menu-item">
                  Sandwiches Jambon &amp; Pommes de Terre ...........
                  <span>$25.00</span>
                </p>
                <p>(Baguette, jambon cuit, salade de pommes de terre)</p>
              </li>
            </ul>
          </div>

          <div class="single-menu">
            <h3>Boissons &amp; Jus</h3>
            <ul class="list">
              <li>
                <p class="menu-item">
                  Sandwiches Jambon &amp; Pommes de Terre ...........
                  <span>$25.00</span>
                </p>
                <p>(Baguette, jambon cuit, salade de pommes de terre)</p>
              </li>
              <li>
                <p class="menu-item">
                  Sandwiches Jambon &amp; Pommes de Terre ...........
                  <span>$25.00</span>
                </p>
                <p>(Baguette, jambon cuit, salade de pommes de terre)</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Menu Area =================-->

<section class="gallery-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-5 col-sm-6">
        <div class="single-gallery mt--480">
          <div class="overlay"></div>
          <figure>
            <img
              src="/assets/images/Image6.jpg"
              class="img-fluid w-100"
              alt="Image de la galerie 1"
            />
          </figure>
          <div class="icon">
            <a
              href="/assets/images/Image10.jpg"
              class="photo-gallery-pop-up"
            >
              <span class="lnr lnr-cross"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-6">
        <div class="single-gallery">
          <div class="overlay"></div>
          <figure>
            <img
              src="/assets/images/Image9.jpg"
              class="img-fluid w-100"
              alt="Image de la galerie 2"
            />
          </figure>
          <div class="icon">
            <a
              href="/assets/images/Image9.jpg"
              class="photo-gallery-pop-up"
            >
              <span class="lnr lnr-cross"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="offset-lg-1 col-lg-5 col-md-5 col-sm-6">
        <div class="single-gallery mt--280">
          <div class="overlay"></div>
          <figure>
            <img
              src="/assets/images/Image9.jpg"
              class="img-fluid w-100"
              alt="Image de la galerie 3"
            />
          </figure>
          <div class="icon">
            <a
              href="/assets/images/Image9.jpg"
              class="photo-gallery-pop-up"
            >
              <span class="lnr lnr-cross"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="single-gallery">
          <div class="overlay"></div>
          <figure>
            <img
              src="/assets/images/Image9.jpg"
              class="img-fluid w-100"
              alt="Image de la galerie 4"
            />
          </figure>
          <div class="icon">
            <a
              href="/assets/images/Image9.jpg"
              class="photo-gallery-pop-up"
            >
              <span class="lnr lnr-cross"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>